<section id="header">
    <div id="navlogo">
    </div>
    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li class="current"><a href="#about">ABOUT</a></li>
            <li class="current"><a href="#download">DOWNLOAD</a></li>
            <li class="current"><a href="#features">FEATURES</a></li>
            <li class="current"><a href="#video">VIDEO</a></li>
            <li class="current"><a href="#contact">CONTACT</a></li>
        </ul>
    </nav>

    <!-- Banner -->
    <section id="banner" style="background-image: url('../images/scoopy_banner.jpg')">
        <div>
            <br>
        </div>
        <img src="/images/scoopy_logo.png" alt="" title=""/>
        <div>
            <br>
        </div>
    </section>
</section>